# Data Science Tools and Ecosystem

## Author
Ana-Maria Brostic

### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries used by Data Scientists
- Evaluating arithmetic expressions in Python

#### Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

#### Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Matplotlib
3. Pandas
4. Seaborn

|Data Science Tools|
|------------------|
| Jupyter Notebook|
| R Studio |
| Github |

### Below are a few examples of evaluating arithmetic expressions in Python

##### This a simple arithmetic

In [10]:
(3*4)+5

17

#### This will convert 200 minutes to hours by diving by 60

In [14]:
minutes=200
hours=minutes/60
print(hours)

3.3333333333333335